In [2]:
import pandas as pd

# Load and Clean Data

In [3]:
# Load exploratory data
# fname = '../osfstorage-archive/upworthy-archive-datasets/upworthy-archive-exploratory-packages-03.12.2020.csv'
fname = '../output/armando_packages.csv'
df = pd.read_csv(fname)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66972 entries, 0 to 66971
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           66972 non-null  int64
 1   created_at           66972 non-null  object
 2   test_week            66972 non-null  object
 3   test_id              66972 non-null  object
 4   headline             66972 non-null  object
 5   image_id             66871 non-null  object
 6   excerpt              59135 non-null  object
 7   lede                 66909 non-null  object
 8   slug                 66972 non-null  object
 9   share_text           3531 non-null   object
 10  share_image          21846 non-null  object
 11  impressions          66972 non-null  int64
 12  clicks               66972 non-null  int64
 13  first_place          66972 non-null  bool
 14  winner               66972 non-null  bool
 15  ctr                  66972 non-null  float64
 16  high_ctr_test        66972 non-null  bool
 17  high_ctr_test_image  66972 non-null  bool
dtypes: bool(4), float64(1), int64(3), object(10)
memory usage: 7.4+ MB

In [5]:
# Remove useless columns
df = df[['headline','impressions', 'clicks']]

df.sample(5)

                                                headline  impressions  clicks
36803  Then, In One Part Of The Movie, They Were All,...         3560      57
29288  Louis CK Breaks Down Why Our Experiences Might...         2844      86
18188  Apparently People (Famous People) Are Recogniz...         5757      54
22834  What Should Both Violent Men And Property Owne...         2559      30
48350  It's Happening, My Friends, Whether We Like It...         5106      37

In [6]:
# Description
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66972 entries, 0 to 66971
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   headline     66972 non-null  object
 1   impressions  66972 non-null  int64
 2   clicks       66972 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.5+ MB

In [7]:
# Correctly type the data
strings = ['headline']

df[strings] = df[strings].astype('string')

# Aggregate the same packages
aggregation_functions = {'clicks': 'sum', 'impressions': 'sum'} # 'significance': 'avg'}
df = df.groupby(['headline'], as_index=False, observed=True).aggregate(aggregation_functions)

# Replace clicks and impressions with ctr (click-through-rate)
df['ctr'] = df['clicks']/df['impressions']
df = df.drop(columns=['clicks', 'impressions'])

# Description
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59021 entries, 0 to 59020
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   headline  59021 non-null  object
 1   ctr       59021 non-null  float64
dtypes: float64(1), object(1)
memory usage: 922.3+ KB

In [8]:
# Summary
df.describe()

                ctr
count  59021.000000
mean       0.013331
std        0.011223
min        0.000000
25%        0.005976
50%        0.010131
75%        0.016957
max        0.148913

In [9]:
df # Unique Packages

                                                headline       ctr
0      \nLike Downton Abbey? Well, There’s Another Dr...  0.016213
1      \nWell I Gotta Give It To Him, That's A Pretty...  0.019236
2      \nYet Another Anti-Gay Guy Saying Gays Should…...  0.019155
3       'Be The Change You Want To See.' It's An Insp...  0.014886
4       'This Land Was Made For You And Me' — Or Was It?  0.012906
...                                                  ...       ...
59016  “Success Means Winning First Place” And Other ...  0.010306
59017  “There Is Nothing More Dangerous Than A Govern...  0.007223
59018  “You Make A Dime, They Take A Dollar.” Here's ...  0.004309
59019                       “You’re Rude. I Save Lives.”  0.030717
59020  …And This Is Why We’ll Never See A Superheroin...  0.011705

[59021 rows x 2 columns]

In [10]:
output = '../output/armando_headline_prediction.csv'
# output = '../output/packages.csv'
df.to_csv(output, index=False)