In [1]:
import pandas as pd

# Load and Clean Data

In [10]:
# Load exploratory data
# fname = '../osfstorage-archive/upworthy-archive-datasets/upworthy-archive-exploratory-packages-03.12.2020.csv'
fname = '../output/armando_with_all_features.csv'
df = pd.read_csv(fname)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66972 entries, 0 to 66971
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           66972 non-null  int64
 1   created_at           66972 non-null  object
 2   test_week            66972 non-null  object
 3   test_id              66972 non-null  object
 4   headline             66972 non-null  object
 5   image_id             66871 non-null  object
 6   excerpt              59135 non-null  object
 7   lede                 66909 non-null  object
 8   slug                 66972 non-null  object
 9   share_text           3531 non-null   object
 10  share_image          21846 non-null  object
 11  impressions          66972 non-null  int64
 12  clicks               66972 non-null  int64
 13  first_place          66972 non-null  bool
 14  winner               66972 non-null  bool
 15  clickrate            66972 non-null  float64
 16  high_ctr_test        66972 non-null  bool
 17  high_ctr_test_image  66972 non-null  bool
dtypes: bool(4), float64(1), int64(3), object(10)
memory usage: 7.4+ MB

In [ ]:
ner_keys = ['LOC', 'PERSON', 'WORK_OF_ART','LANGUAGE','PRODUCT','QUANTITY','DATE','CARDINAL','GPE','TIME','ORG','LAW','MONEY','FAC','EVENT','PERCENT','NORP','ORDINAL']
ner_cols = [f'{k}_start' for k in ner_keys] + [f'{k}_end' for k in ner_keys]

In [12]:
# Remove useless columns
other_features = ['hl_len', 'neg', 'neu', 'pos'] + ner_cols

df = df[['test_id', 'headline','high_ctr_test'] + other_features]
df = df.rename(columns={'high_ctr_test': 'picked'})
df.sample(5)

,test_id,headline,picked,hl_len,neg,neu,pos,LOC_start,PERSON_start,WORK_OF_ART_start,...,GPE_end,TIME_end,ORG_end,LAW_end,MONEY_end,FAC_end,EVENT_end,PERCENT_end,NORP_end,ORDINAL_end
42147,53c8042ad52a7b8879000045,They All Work Incredibly Hard. Some Make Milli...,False,88,0.003068,0.406628,0.590304,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35282,5386225d53941fae38000034,The Horrible Stench Of A Modern Hero,False,36,0.975941,0.020648,0.003410,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5732,53937dca7dbf65e76f000059,"A Headline About George Clooney's Fiance, Upda...",False,62,0.001468,0.701443,0.297090,0,18,0,...,0,0,0,0,0,0,0,0,0,0
66431,54ebaff865626100261e0000,When someone talks about the Oscars and race h...,False,81,0.001704,0.116789,0.881506,0,0,0,...,0,0,36,0,0,0,0,0,0,0
55022,553fbede356133001c190000,What happens when the 'Science Guy' and the 'P...,True,98,0.004420,0.941796,0.053784,0,80,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Description
df.info()

In [13]:
# Correctly type the data
strings = ['headline', 'test_id']
binaries = ['picked']

df[strings] = df[strings].astype('string')
df[binaries] = df[binaries].astype('int')

# Description
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66972 entries, 0 to 66971
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   test_id            66972 non-null  string
 1   headline           66972 non-null  string
 2   picked             66972 non-null  int64
 3   hl_len             66972 non-null  int64
 4   neg                66972 non-null  float64
 5   neu                66972 non-null  float64
 6   pos                66972 non-null  float64
 7   LOC_start          66972 non-null  int64
 8   PERSON_start       66972 non-null  int64
 9   WORK_OF_ART_start  66972 non-null  int64
 10  LANGUAGE_start     66972 non-null  int64
 11  PRODUCT_start      66972 non-null  int64
 12  QUANTITY_start     66972 non-null  int64
 13  DATE_start         66972 non-null  int64
 14  CARDINAL_start     66972 non-null  int64
 15  GPE_start          66972 non-null  int64
 16  TIME_start         66972 non-null  int64
 17  ORG_start          66972 non-null  int64
 18  LAW_start          66972 non-null  int64
 19  MONEY_start        66972 non-null  int64
 20  FAC_start          66972 non-null  int64
 21  EVENT_start        66972 non-null  int64
 22  PERCENT_start      66972 non-null  int64
 23  NORP_start         66972 non-null  int64
 24  ORDINAL_start      66972 non-null  int64
 25  LOC_end            66972 non-null  int64
 26  PERSON_end         66972 non-null  int64
 27  WORK_OF_ART_end    66972 non-null  int64
 28  LANGUAGE_end       66972 non-null  int64
 29  PRODUCT_end        66972 non-null  int64
 30  QUANTITY_end       66972 non-null  int64
 31  DATE_end           66972 non-null  int64
 32  CARDINAL_end       66972 non-null  int64
 33  GPE_end            66972 non-null  int64
 34  TIME_end           66972 non-null  int64
 35  ORG_end            66972 non-null  int64
 36  LAW_end            66972 non-null  int64
 37  MONEY_end          66972 non-null  int64
 38  FAC_end            66972 non-null  int64
 39  EVENT_end          66972 non-null  int64
 40  PERCENT_end        66972 non-null  int64
 41  NORP_end           66972 non-null  int64
 42  ORDINAL_end        66972 non-null  int64
dtypes: float64(3), int64(38), string(2)
memory usage: 22.0 MB

In [14]:
# Summary
df.describe()

,picked,hl_len,neg,neu,pos,LOC_start,PERSON_start,WORK_OF_ART_start,LANGUAGE_start,PRODUCT_start,...,GPE_end,TIME_end,ORG_end,LAW_end,MONEY_end,FAC_end,EVENT_end,PERCENT_end,NORP_end,ORDINAL_end
count,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,...,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000
mean,0.218703,80.900720,0.391209,0.422233,0.186558,0.260437,4.259273,3.798259,0.025638,0.107821,...,2.276787,0.636833,5.151018,0.219674,0.339978,0.166861,0.375261,0.249761,0.946455,0.467912
std,0.413370,15.020049,0.397435,0.349949,0.318567,4.052974,14.766617,13.639563,1.187584,2.664539,...,11.820855,6.331831,17.582649,3.895566,4.416843,3.384920,4.849236,3.744927,7.372543,5.261347
min,0.000000,4.000000,0.000644,0.005100,0.002589,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,71.000000,0.006129,0.072034,0.004716,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,84.000000,0.211484,0.346043,0.015401,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,94.000000,0.849050,0.783402,0.173588,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,140.000000,0.985721,0.983769,0.992851,96.000000,109.000000,109.000000,93.000000,95.000000,...,117.000000,101.000000,112.000000,101.000000,101.000000,101.000000,101.000000,101.000000,107.000000,101.000000

In [ ]:
df # Unique Packages

In [15]:
output = '../output/armando_with_all_features_test_prediction.csv'
# output = '../output/packages.csv'
df.to_csv(output, index=False)